<!-- jQuery loading from google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>

    <div class="container">
    <div class="jumbotron" style="background-color: aliceblue">

    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: white; border-bottom-color: #336699;
    border-bottom-width: thick">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar" style="border-color: #336699; color: #336699">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
          <img src="http://i.imgur.com/tMfK5du.png?1" width=110px>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="{% if nbar == 'HOME' %}active{% endif %}"><a href="/">Home</a></li>
          <li class="{% if nbar == 'DASH' %}active{% endif %}"><a href="/dashmain/">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li><a href="/accounts/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% else %}
            <li><a href="/admin"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
            <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}
        </ul>
        </div>
      </div>
    </nav>

    <p>
        <br>
        <br>
    </p>

    {% block content %}{% endblock %}
    {% block footer %}
    <footer>
    <br>
    <hr>
        <br>
        <div class="container" style="background-color: transparent;width: 100%">
            <br>
            <br>
            <br>
            <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p align="center">All rights reserved.</p>
            </div>
            <div class="col-sm-4" align="center">
                <a href="http://www.combine.rwth-aachen.de">
                    <img class="imgFooter" align="center" src="http://i.imgur.com/tzWDO63.png" width="100%">
                </a>
            </div>
            </div>
            <br>
        </div>
    </footer>
    {% endblock %}

    </div>
    </div>

</body>
</html>