{% extends "base.html" %}

{% block content %}
    <div class="myDesc">
        <h1>Privacy Policy</h1>
        <hr style="border-color: #2e484c">
        <p style="font-size: large">By accessing or using the Proteostasis Profiler web tool,
            you agree to the terms of this Online Privacy Policy, as outlined below.
            If you do not agree to these terms, please do not access or use this site.</p>
        <br>
        <br>
        <h1>Collection of Personal Information</h1>
        <hr style="border-color: #2e484c">
        <p style="font-size: large;text-align: justify">
            When you engage in certain activities on this site, you may be asked to provide certain information about
            yourself by filling out and submitting an online form. It is completely optional for you to engage in these
            activities. If you elect to engage in these activities, however, you may be required to provide personal
            information, such as your name and e-mail address. <br> When you submit personal information,
            you understand and agree that this web tool may transfer, store, and process your information
            in any of the countries its servers are located, including without limitation, Germany and the United States.
            <br> We collects this information in order to record and support your participation in
            the activities you select. We also uses information that you provide as part of our effort
            to develop and expand this web tool according to users' needs.
            We will never sell or share your information with other parties.
        </p>
    </div>

{% endblock %}