{% extends "base.html" %}

{% block style %}
    <style>
    a:link {color: rgb(3, 92, 157)
    }
    .myDesc {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
        text-align: left;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="myDesc">
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron" style="background-color: #398984">
            <div  style="padding-left: 10%; padding-right: 10%">
                <br>
                <br>
                <br>
                <br>
                <h1 style="color: white">Coming Soon</h1>
                <hr style="border-color: white;">
                <p style="padding-left: 5%; padding-right: 5%; color: white">
                    This section of the tool is still under construction. If you would like to explore custom data
                    analysis in a collaboration with us please
                    <a href="/about/" style="color: white">contact us<span class="glyphicon glyphicon-link"></span>!</a>
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

{% endblock %}